__pycache__/

# Gitigore for nodejs
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
yarn-error.log
yarn.lock
package-lock.json

# Gitigore for python
*.pyc
*.pyo
*.pyd
__pycache__/
/utils/admin_tools/*.py
utils/devcraftadmin-cli.py
utils/devcraftadmin-cli.pyc
utils/devcraftadmin-cli.pyo
utils/devcraftadmin-cli.pyd
