<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevCraft - The definitive platform for devs.</title>
    <!-- TailwindCSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='src/css/output.css')}}">
    <!-- Fontawesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
</head>

<body class="dark:bg-gray-900 dark:text-white">
    <!-- Components Import -->
    {% from "components/card.html" import render as card %}
    {% from "components/footer.html" import render as footer %}
    {% from "components/navbar.html" import render as navbar %}
    {{ navbar() }}

    <section class="bg-center bg-no-repeat bg-gray-700 bg-blend-multiply bg-cover select-none"
        style="background-image: url('/static/resources/images/dev_craft_hero_section_background.jpeg');">
        <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
            <div class="logo flex justify-center">
                <img src="{{url_for('static', filename='resources/images/dev_craft_logo_text.png')}}"
                    alt="DevCraft Logo" class="flex justify-center items-center" width="500" height="500">
            </div>
            <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">The
                definitive platform for devs.</h1>
            <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">Welcome to DevCraft - your
                ultimate hub for coding, collaboration, and community! Code, share, work, host, and connect with the
                best minds in tech. Join us and unleash your potential today!</p>
            <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
                <a href="#"
                    class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-yellow-400 hover:bg-yellow-300 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                    Get started
                    <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 5h12m0 0L9 1m4 4L9 9" />
                    </svg>
                </a>
                <a href="#"
                    class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 sm:ms-4 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400">
                    Learn more
                </a>
            </div>
        </div>
    </section>
    <section class="py-16">
        <div class="flex justify-center space-x-2">
            <h2 class="text-4xl font-extrabold flex items-center">Grow As a Developer with:</h2>
            <img src="{{url_for('static', filename='resources/images/dev_craft_logo_text_second_v.png')}}"
                alt="DevCraft Simple Logo" width="180" height="180" class="flex items-center">
        </div>
        <br>
        <div class="grid gap-3 sm:grid-cols-1 md:grid-cols-3 grid-rows-2">
            {{ card('Code', 'Code with the best tools and languages in the industry.', 'fa-code', '/app/coding') }}
            {{ card('Share', 'Share your projects and ideas with the world.', 'fa-share', '/app/hub') }}
            {{ card('Work', 'Work with the best minds in tech and collaborate on projects.', 'fa-briefcase',
            '/app/workhub/') }}
            {{ card('Host', 'Host your projects and websites with ease and efficiency.', 'fa-server', '/app/hosting') }}
            {{ card('Connect', 'Connect with the best minds in tech and build your network.', 'fa-circle-nodes',
            '/app/community') }}
            {{ card('Learn', 'Learn from the best minds in tech and grow your skills.', 'fa-graduation-cap',
            '/app/learn/') }}
        </div>
    </section>
    <section class="py-16">
        <div class="flex justify-center space-x-2">
            <h2 class="text-4xl font-extrabold flex items-center">Our Story</h2>
        </div>
        <br>
        <p class="text-gray-400 font-extralight text-center text-xl">
            DevCraft is born at <span class="font-bold">42 Málaga</span> as the project of a student, <span
                class="font-bold">Iván Novomiast</span> <br>
            the idea was to create a platform where developers could share their projects, find work, learn new coding
            skill and connect with a bast community of developers. <br>
            <br>
            The creator of DevCraft wanted to create a platform that could help developers to grow and improve their
            skills, <br>
            and that's how DevCraft was born, a platform that offers a lot of tools and resources for developers. <br>
            <br>
            With <span class="font-bold">DevCraft</span> you'll be able to improve as a Dev, it doesn't matter if you
            are a beginner or an expert, you'll find something for you. <br>
            <br>
        </p>
        <div
            class="w-1/2 mx-auto text-center border border-solid border-yellow-400 rounded-xl  shadow-lg shadow-[rgba(0, 214, 0, 0.5)]">
            <br>
            <span class="font-bold py-5">Join us and unleash your potential today!</span>
            <br>
            <a href="#"
                class="mb-5 mt-5 inline-flex justify-center items-center py-3 px-5 text-base font-medium text-white rounded-lg bg-yellow-400 hover:bg-yellow-300 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                Join Now!
            </a>
            <br>
        </div>
    </section>
    <section class="py-16">
        <div class="flex justify-center space-x-2">
            <h2 class="text-4xl font-extrabold flex items-center">We are Multiplatform</h2>
        </div>
        <div class="flex justify-center">
            <!-- Mockup of the app -->
            <img src="{{url_for('static', filename='resources/images/mockup_platform_v2.png')}}" alt="DevCraft Mockup"
                class="" width="800" height="800">
        </div>
        <p class="text-xl font-light text-gray-400 text-center">
            <br>
            <span class="font-bold">DevCraft</span> is a multiplatform app, you can use it on your computer, tablet or
            smartphone. <br>
            <br>
            We have a responsive design that adapts to any screen size, so you can use <span
                class="font-bold">DevCraft</span> wherever you are. <br>
            <br>
            You can use <span class="font-bold">DevCraft</span> on your computer to code, share your projects, find
            work, host your websites, connect with other developers and learn new coding skills. <br>
            <br>
            You can also use <span class="font-bold">DevCraft</span> on your tablet or smartphone to check your
            projects, connect with other developers and learn new coding skills. <br>
            <br>
            With <span class="font-bold">DevCraft</span> you can code, share, work, host, connect and learn wherever you
            are. <br>
            <br>
        </p>
    </section>
    <footer>
        {{ footer() }}
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script src="{{url_for('static', filename='src/js/index/main.js')}}"></script>
</body>

</html>